@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Rubik:wght@500;600&display=swap');

:root{
    --dark1: #20201E;
    --dark2: #2D2B29;
    --brand: #ED9902;
    --white: #ffffff;
    --body: #9B968B;
}

body {
    color: var(--body);
    font-family: 'Rubik', sans-serif;
    background-color: var(--dark1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--white);
}

a {
    transition: all 0.4s ease;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
}


/* Navbar */
.navbar {
    background-color: var(--dark1);
}
.navbar-nav .nav-link.active{
    color: var(--brand);
}
.navbar .nav-link{
    font-size: 13px;
    text-transform: uppercase;
}

/* About */

#about {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#about {
    font-weight: 600;
}

#about .person-is span {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--white);
    margin-right: 8px;
    text-transform: uppercase;
}

#about img {
    border-radius: 1000px;
    border: 8px solid var(--brand);
}

.person-img {
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.ellipse-top {
    width: 70%;
    height: 70%;
    background: linear-gradient(180deg, #cf8c16 0%, #292824 100%);
    position: absolute;
    top: -10%;
    right: 0;
    border-radius: 1000px;
    z-index: -1;
}

.ellipse-bottom {
    width: 40%;
    height: 40%;
    background: linear-gradient(180deg, #cf8c16 0%, #292824 100%);
    position: absolute;
    bottom: -5%;
    left: 0;
    border-radius: 1000px;
    z-index: -1;
}

/* BTN */

.btn {
    padding: 13px 17px;
}

.btn-brand {
    background-color: var(--brand);
    border-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    border-color: var(--brand);
    color: var(--brand);
    margin-top: 5px;
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color: white;
}

.pricing-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pricing-table .btn {
    margin-top: 24;
    margin-bottom: 24px;
}
/* INTRO */
.intro {
    margin-bottom: 40px;
}

.intro p{
    max-width: 500px;
}

.text-brand {
    color: var(--brand);
}

/* DIVIDER */
.divider {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* SERVICES */
.service {
    background-color: var(--dark2);
    padding: 28px;
    display: flex;
    border-radius: 8px;
}

.iconbox {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--dark1);
    margin-right: 18px;
    border-radius: 8px;
}

.iconbox i {
    font-size: 45px;
    color: var(--brand);
}

.service img{
    height: 46px;
}

/* PORTFOLIO */
.portfolio-item {
    position: relative;
}

.portfolio-item .iconbox{
    background-color: var(--white);
    border-radius: 1000px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s ease;
}

.portfolio-item .iconbox img {
    height: 28px;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 55%;
}

/* MODAL */
.modal h2 {
    color: var(--dark1);
}

/* REVIEW */

.review {
    padding: 28px;
    background-color: var(--dark2);
    border-radius: 12px;
}

.review img {
    width: 65px;
    border-radius: 100px;
    border: 2px solid var(--brand);
}

/* PRICING */
.pricing-table {
    padding: 34px 34px;
    background-color: var(--dark2);
    border-radius: 8px;
}

.pricing-table:hover {
    box-shadow: 0 0 10px #cf8c16, 0 0 10px #cf8c16;
}

.pricing-table ul {
    padding: 0;
    list-style: none;
}

.pricing-table .iconbox {
    border-radius: 100px;
    width: 40px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 8px;
}

.pricing-table .iconbox i {
    font-size: 40px;
}

.pricing-table ul li{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

/* CONTACT */

form .form-control {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

form .form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* FOOTER */
footer {
    background-color: var(--dark2);
}